@page "/game"

@using BlazorCaptureFlag.Shared.Model
@using BlazorCaptureFlag.Client.Services
@using Microsoft.AspNetCore.SignalR.Client

@inject IGameClientService GameService
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

@implements IAsyncDisposable

<GameBoardComponent State="@GameService.State" PlayerId="@PlayerId" />
<p>Player Points: @PlayerPoints</p>

@code {
    private GameState State { get; set; }
    private string PlayerId => GameService.CurrentPlayerId;
    private int PlayerPoints => GameService.CurrentPlayerPoints;

    private HubConnection _gameHub;
    private DotNetObjectReference<GamePage> gamePageRef;

    protected override async Task OnInitializedAsync()
    {
        gamePageRef = DotNetObjectReference.Create(this);
            
        await jsRuntime.InvokeVoidAsync("game.setGamePageRef", gamePageRef);
        await jsRuntime.InvokeVoidAsync("game.addKeyboardListener");
            
        GameService.GameStateChanged += (state) => 
        {
            State = state;
            StateHasChanged();
        };

        await InitializeGameHub();
    }

    private async Task InitializeGameHub()
    {
        _gameHub = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        _gameHub.On<GameState>("GameStart", 
            (state) => {
                GameService.Start(state);
            });

        _gameHub.On<GameState>("PlayerConnected",
            (state) => {
                GameService.State = state;
                GameService.CurrentPlayerId = _gameHub.ConnectionId;
            });

        _gameHub.On<Player>("AddPlayer",
            (player) => GameService.AddPlayer(player));
        
        _gameHub.On<Flag>("AddFlag",
            (flag) => GameService.AddFlag(flag));

        _gameHub.On<string>("RemovePlayer",
            (removedPlayerId) => GameService.RemovePlayer(removedPlayerId));

        _gameHub.On<string>("RemoveFlag",
            (removedFlagId) => GameService.RemoveFlag(removedFlagId));

        _gameHub.On<Player>("PlayerMoved", 
            (player) => 
            {
                GameService.MovePlayer(player);
            });
        
        _gameHub.On("GameStop", () =>
            {
                GameService.Stop();
            });

        await _gameHub.StartAsync();
        await _gameHub.SendAsync("AddPlayer");
    }

    private void MovePlayer(GameMove move)
    {
        _gameHub.SendAsync("MovePlayer", PlayerId, move);
    }

    [JSInvokable]
    public void GoUp()
    {
        MovePlayer(GameMove.Up);
    }

    [JSInvokable]
    public void GoDown()
    {
        MovePlayer(GameMove.Down);
    }

    [JSInvokable]
    public void GoLeft()
    {
        MovePlayer(GameMove.Left);
    }

    [JSInvokable]
    public void GoRight()
    {
        MovePlayer(GameMove.Right);
    }

    public async ValueTask DisposeAsync()
    {
        GameService?.Stop();
        try
        {
            await _gameHub.DisposeAsync();
        }
        catch {}
        await jsRuntime.InvokeVoidAsync("game.clearGamePageRef");
        await jsRuntime.InvokeVoidAsync("game.removeKeyboardListener");
        gamePageRef?.Dispose();
    }
}