@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using BlazorCaptureFlag.Shared.Model

<div id="game-board">
    <BECanvas Width="@State.Board.Width" Height="@State.Board.Height" @ref="GameBoardCanvas" />
</div>

<p>@PlayerId</p>

@code {
    [Parameter]
    public GameState State { get; set; }

    [Parameter]
    public string PlayerId { get; set; }

    private BECanvasComponent GameBoardCanvas;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var context = await GameBoardCanvas.CreateCanvas2DAsync();
        
        if (State == null)
        {
            await context.ClearRectAsync(0, 0, 10, 10);
            return;
        }

        await context.ClearRectAsync(0, 0, State.Board.Width, State.Board.Height);

        foreach (var player in State.Players)
        {
            await context.SetFillStyleAsync(
                player.Id == PlayerId ? "green" : "gray");
            await context.FillRectAsync(
                player.X, player.Y, 1, 1);
        }

        foreach (var flag in State.Flags)
        {
            await context.SetFillStyleAsync("yellow");
            await context.FillRectAsync(
                flag.X, flag.Y, 1, 1);
        }
    }
}